<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8">
		<title>Gioca Tic-Tac-Toe</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<% if(!winner && !isGridFull) { %>
			<h2>Player <%=  activePlayerSymbol %></h2>
		<% } %>
		<% if(winner) { %>
			<h2>Player <%=  winner %> won the game</h2>
		<% } %>
		<% if(!winner && isGridFull) { %>
			<h2>The game is draw</h2>
		<% } %>		
		<table>
			<% const gridDimensions = Math.sqrt(cellsStatus.length) %>
			<% for(let yPosition=0; yPosition < gridDimensions; yPosition++) { %>
				<tr>
					<% for(let xPosition=0; xPosition < gridDimensions; xPosition++) { %>
						<% for(let i=0; i < cellsStatus.length; i++) { %>
							<% if(cellsStatus[i].x_position == xPosition && cellsStatus[i].y_position == yPosition) { %>
							
								<td>
									<form action="make_move?game_id=<%= gameId %>&x_position=<%= xPosition %>&y_position=<%= yPosition %>&symbol=<%= activePlayerSymbol %>" method="post">
										<button type="submit" class="tile" ><%= cellsStatus[i].symbol %></button>
									</form>
								</td>
							<% } %>
						<% } %>
					<% } %>
				</tr>
			<% } %>
		</table>
		<% if(winner || isGridFull) { %>
			<form action="reset?game_id=<%= gameId %>" method="post">
				<input type="submit" value="Reset" />
			</form>
		<% } %>
	</body>
</html>