html
{
	height: 100%;
	display: table;
	margin: auto;
}

body
{
	background-color: lightblue;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.tile
{
	width: 50px;
	height: 50px;
	font-size: 30px;
}


